/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/debugbar/.gitignore
/storage/debugbar/Xdfd81f961d127bde8037bf51cdb3c301.json
/storage/debugbar/
.idea/laravel-plugin.xml
.idea/php-test-framework.xml
app/Providers/AppServiceProvider.php
.gitignore
app/Http/Controllers/Admin/BKMembersController.php
Providers/AppServiceProvider.php
